$color-primary-0: #17354c; // Main Primary color */
$color-primary-1: #115488;
$color-primary-2: #184568;
$color-primary-3: #142736;
$color-primary-4: #0d171f;

$color-secondary-1-0: #144f3a; // Main Secondary color (1) */
$color-secondary-1-1: #098d5f;
$color-secondary-1-2: #146c4d;
$color-secondary-1-3: #12382b;
$color-secondary-1-4: #0c2019;

$color-secondary-2-0: #1d2251; // Main Secondary color (2) */
$color-secondary-2-1: #1c2792;
$color-secondary-2-2: #21286f;
$color-secondary-2-3: #181b39;
$color-secondary-2-4: #101121;

$color-black: #222;
$color-white: #c8c8c8;
